/* Product Card styles */
.productCart {
    transition: transform 0.4s;
    background-color: #1f1f1f; /* Dark background color */
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: #fff; /* White text color */
}

.productCart:hover {
    transform: scale(1.05);
}

/* Product Name styles */
.productName {
    text-decoration: none;
    color: #fff; /* White text color */
}

.proName {
    color: #e98337; /* Custom orange color */
    height: 2.5rem;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Add to Cart Button styles */
.addToCartBtn {
    padding: 4px 0px;
    border: none;
    outline: none;
    margin-top: 4px;
    background: #e98337;
    color: #fff;
    width: 100%;
    border-radius: 15px;
}

.addToCartBtn:hover {
    opacity: 0.9;
}

.addToCartBtn:active {
    box-shadow: 0px 0px 5px rgba(239, 238, 238, 0.3) inset;
    transform: translateY(2px);
}
