.productCart{
  transition: transform 0.4s;
}
.productCart:hover{
  transform: scale(1.05);
}
.productName{
text-decoration: none;
}
.proName{
    color:#e98337;
    height: 2.5rem;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

.addToCartBtn {
    padding: 4px 0px;
    border: none;
    outline: none;
    margin-top: 4px;
    background: #e98337;
    color: #fff;
    width: 100%;
    border-radius: 15px;
  }
  
  .addToCartBtn:hover {
    opacity: 0.9;
    
  }
  
  .addToCartBtn:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(2px);
  }
  